/* Forgot Password Container */
.forgot-password-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.forgot-password-container h2 {
    color: #007bff;
    margin-bottom: 15px;
    font-size: 24px;
}

.forgot-password-container p {
    color: black;
    margin: 10px 0;
}

.forgot-password-container label {
    display: block;
    margin: 10px 0 5px;
    color: black;
    text-align: left;
}

.forgot-password-container input[type="tel"],
.forgot-password-container input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #ececec;
    color: black;
}

.message {
    font-size: 14px;
    margin-top: 5px;
}

/* Button Styles */
.forgot-password-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #39b1f6db, #49b3f0);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

.forgot-password-container button:hover {
    opacity: 0.9;
}
